@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.page-header {
  padding: 0 70px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff
}

.navigation {
  display: flex;
}

.navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

.navigation-user {
  max-width: 200px;
  margin-left: auto;
  margin-right: 20px;
}

.fav-count {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  font-weight: 400;
}

.button {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #756157;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background: #ffffff;
}

.hero {
  text-align: center;
  background-image: url("../images/devider.svg"), url("../images/hero-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  background-color: #7db54f;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.reasons {
  text-align: center;
}

.reasons-header {
  padding: 70px 275px;
}

.reasons-title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.reasons-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons-item {
  width: 400px;
  background: rgba(131, 179, 211, 0.12);;
}

.reasons-item-wrapper {
  padding: 102px 85px;
}

.reasons-item:nth-child(2n-1) {
  background: rgba(131, 179, 211, 0.2);
}

.reasons-item-title {
  margin: 0 0 65px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.reasons-item-description {
  margin: 0;
}

.reasons-item.reasons-item-wide {
  width: 1200px;
  display: flex;
  color: white;
  background: #82b3d3;
}

.reasons-item-wide .reasons-item-title {
  color: #ffffff;
}

.services {
  text-align: center;
}

.services-header {
  padding: 70px 275px;
}

.services-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 400px;
  padding: 183px 85px 102px;
}
.services-item:nth-child(2n-1) {
  background: rgba(131, 179, 211, 0.2);
}

.services-item-title {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;
}

.call-to-action {
  padding: 96px 304px;
  text-align: center;
}

.call-to-action-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.call-to-action-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter {
  padding: 96px 258px 104px;
  text-align: center;
  background-image: url("../images/newsletter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #7db54f;
}

.newsletter-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.page-footer {
  display: flex;
  padding: 40px 70px 30px;
}

.footer-social-list {
  max-width: 185px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

.main-inner {
  color: #333333;
  background: #ffffff;
}

.main-inner-wrapper {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url("../images/catalog-header-background.jpg");
  background-color: #7db54f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.inner-header-title{
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  color: inherit;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150px;
  margin: 0 70px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin: 0 0 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-price {
  width: 288px;
  margin-left: 140px;
}

.catalog-filter-buttons {
  margin-top: 56px;
  margin-left: auto;
  width: 191px;
  display: flex;
  flex-direction: column
}

.catalog-results {
  padding: 50px 70px 60px;
}

.results-title {
  margin: 0;
}

.catalog-results-wrapper {
  display: flex;
}

.results-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 40px;
  padding: 0 0 40px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  color: #333333;
  background-color: #ffffff;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.button-fav {
  background-color: #82b3d3;
}

.button-fav-active {
  background-color: #7db54f;
}

.hotel-rating {
  background-color: #f2f2f2;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.main-inner .newsletter {
  color: #333333;
  background-image: none;
  background-color: #ffffff;
}

.main-inner .newsletter-title {
  color: #000000;
}

.main-inner .newsletter-description {
  color: #333333;
}
